@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --theme-col: #2d4bf0;
  --pure-white: #fff;
  --text-black: #242424;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

html {
  height: 100%;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}

body {
  height: 100%;
}
.navbar-wrapper {
  margin-bottom: 4rem;
}

.navbar-wrapper .btn {
  height: fit-content !important;
  width: 100px !important;
  padding: 0.25rem 0.75rem !important;
  font-size: 15px !important;
  color: var(--text-black) !important;
  font-weight: 500 !important;
  border-radius: 0.25rem !important;
  text-align: center !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
}

.navbar-wrapper .p-btn {
  color: var(--pure-white) !important;
  border: 2px solid var(--theme-col) !important;
  background-color: var(--theme-col) !important;
}

.navbar-wrapper .p-btn:hover {
  filter: saturate(0.7) !important;
}

.navbar-wrapper .s-btn {
  color: var(--theme-col) !important;
  border: 2px solid var(--theme-col) !important;
  background-color: transparent !important;
}

.navbar-wrapper .navbar {
  height: 4rem !important;
  padding: 0 4rem !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
  /* background-color: var(--background-dark) !important; */
}

.navbar-wrapper .logo a {
  font-size: xx-large !important;
  font-weight: bold !important;
  cursor: pointer !important;
  color: var(--text-black) !important;
}

.navbar-wrapper .l-initial {
  color: var(--theme-col) !important;
}

.navbar-wrapper .nav-link ul {
  display: grid !important;
  grid-auto-flow: column !important;
  grid-column-gap: 20px !important;
}

.navbar-wrapper .nav-link ul li {
  margin: 0 0.75rem !important;
  margin-top: 0.15rem !important;
  padding-bottom: 2px !important;
  color: var(--text-black) !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  line-height: 4rem !important;
  border-bottom: 2px solid transparent !important;
  transition: all 0.3s ease !important;
  text-decoration: none !important;
  list-style: none !important;
}

.navbar-wrapper .nav-link ul li:hover {
  border-bottom: 2px solid #2d4bf0 !important;
}

.navbar-wrapper .nav-link ul li:nth-child(1) {
  padding: 0 !important;
  border-bottom: 2px solid var(--theme-col) !important;
}

.navbar-wrapper .cta-btn {
  display: flex !important;
}

.navbar-wrapper .cta-btn .btn {
  margin: 0 0.25rem !important;
}

.navbar-wrapper a {
  color: #000 !important;
  text-decoration: none !important;
}

ul a {
  font-size: 12px;
  font-weight: 500;
  position: relative;
}

ul a:after {
  content: "";
  opacity: 0;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  width: 4px;
  height: 4px;
  background: #28495c;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

ul a.active:after,
ul a:hover:after {
  opacity: 1;
  bottom: -15px;
}
